* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    transition: all ease .3s;
}

#app {
    height: 100vh;
    display: flex;
    flex-flow: column;
    background-size: cover;
}

.cartify {
    font-weight: 700;
    font-size: 1.35rem;
    align-self: center;
}

.header {
    padding: 0 50px;
    box-shadow: 0 5px 5px 0 #cfcfcf2e;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    align-items: stretch;
    background: #fff;
}

.header .nav form {
    display: flex;
}


.header .nav input::placeholder {
    font-style: italic;
}

.header .nav input:focus {
    outline: none;
    box-shadow: none;
}

.searchfield {
    position: absolute;
    z-index: 100;
    inset: auto auto 0 1.5rem;
    transform: translate(-100%, 100%);
    background-color: #fff;
    box-shadow: 0 0 4px 0 #999;
    display: flex;
    align-items: center;
    display: none;
}


.nav input {
    border: none;
    margin: 0;
    padding: .5rem;
    padding-left: .75rem;
    font-size: .9rem;
    width: 15rem;
    border-radius: 0;
    margin: .5rem 0;
}

.nav button {
    padding: 1rem 1.5rem;
    border: 0;
    background-color: transparent;
    color: #555;
    /* color: #fff; */
}
.nav button:hover {
    background-color: #555;
    color: #fff;
}

.categories a {
    font-size: .85rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.categories a:hover {
    text-decoration: underline;
}



.item-img {
    max-height: 10rem;
    min-height: 10rem;
    width: auto;
    object-fit: cover;
    object-position: center;
    max-width: 14rem;
    /* background: #fff;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    padding: .5rem;
    justify-content: center; */
}


.products-list .card-title {
    font-weight: 600;
    color: #555;
}

.products-list .card-title:hover {
    text-decoration: underline;
}


.products-list .add-to-cart:hover {
    background-color: var(--bs-warning);
}


.products-list .checkout:hover {
    background-color: var(--bs-info);
}

.view-img {
    width: 100%;
    height: auto;
}

.view-cart-img {
    width: 25%;
    height: auto; 
}
.cart {
    position: relative;
}

.cart .cart-items:not(:empty) {
    position: absolute;
    inset: .2rem .2rem auto auto;
    background-color: red;
    color: #fff;
    padding: .15rem .3rem;
    font-size: .7rem;
    border-radius: 1000px;
}

.modalify-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background-color: #6f6f6f31;
  }
  
  .modalify-content {
    display: flex;
    flex-flow: column;
    width: 300px;
    height: 200px;
    background: #fff;
    animation-name: pop;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes pop {
    0% {
      opacity: 0;
      transform: scale(.5);
    }
    50% {
      transform: scale(1.1);
    }
    65% {
      transform: scale(.98);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  .modalify-content > * {
    padding: 10px;
  }
  
  .modalify-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .modalify-body {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .modalify-footer {
    display: flex;
    justify-content: end;
    gap: 15px;
  }
  
  .cancel-btn {
    background-color: red;
    color: #fff;
  }
  
  .confirm-btn {
    background-color: blue;
    color: #fff;
  }
  
  .ok-btn {
    background-color: green;
    color: #fff;
  }